<button (click)="dec()">
    Remove tab
</button>
<button (click)="inc()">
    Add tab
</button>

<br>

<tabs>
    <div class="tabs__titles">
        <tab *ngFor="let tab of tabs; let index = index">
            <tab-title [isActive]="isActive(index)" (click)="toggle(index)">
                Tab <b>{{ tab }}</b> title
            </tab-title>
        </tab>
    </div>
    <tab-content *ngIf="activeTab !== false">
        Tab <b>{{ activeTab }}</b> content
        <test [tab]="activeTab"></test>
    </tab-content>
</tabs>

